<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Please Allow Cleeth to create Reminders Events</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Please Allow Cleeth to create Reminders Events</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Please Allow Cleeth to create Reminders Events</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Please Allow Cleeth to create Reminders Events</string>
	<key>NSRemindersUsageDescription</key>
	<string>Please Allow Cleeth to create Reminders Events</string>
	<key></key>
	<string></string>
</dict>
</plist>
